@page "{id:int}"
@model WebApplication1.Pages.DeleteUserStoryModel
@{
    ViewData["Title"] = "DeleteUserStory";
}

<div>
    <h1>Delete Confirmation
        <div class="alert alert-danger">
            <h5>Are you sure you want to delete the UserStory - @Model.UserStory.Title</h5>
            <form method="post">
                <button type="submit" class="btn btn-danger">Yes</button>
                <a class="btn btn-primary" asp-page-handler="/UserStories">No</a>
            </form>
        </div>
    </h1>
</div>